name: equinox.io

on: push

jobs:
  equinox:
    name: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: equinox-io/tool@deps
      with:
        app: app_b2cWFxqmFmU
        version: ${{ github.sha }}
        signing_key: ${{ secrets.EQUINOX_SIGNING_KEY }}
        platforms: 'darwin_amd64,linux_amd64'
      env:
        EQUINOX_API_TOKEN: ${{ secrets.EQUINOX_API_TOKEN }}
